fieldset {
    border: none;
    display: grid;
    gap: 1rem;
}

.subtitulo {
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;

    h2 {
        font: var(--heading-sm);
        color: var(--text-heading);
    }
}

.flex {
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
    gap: 1rem;
}

.label {

        font: var(--body-sm);
        color: var(--text-body);
}

.label-2 {

    font: var(--body-sm);
    color: #FFFFFF;
}

.gap-75 {
    display: grid;
    gap: .75rem;    
}

.gap-28px {
    display: grid;
    gap: 1.75rem;
}

.gap-1rem {
    display: grid;
    gap: 1rem;
}