.input-wrapper {
    display: grid;
    gap: .75rem;

    label {
        font: var(--body-sm);
        color: var(--text-body);
    }
}

input, textarea {
    appearance: none;
    background-color: var(--input-base);
    color: var(--text-heading);

    outline: 1px solid var(--input-stroke);
    padding: .812rem 1rem;
    border-radius: .5rem;
    border: 1px solid transparent;
    

    font: var(--body-md);
}

input:focus,
textarea:focus {
    border-color: var(--brand-light);
}


