#site {
    display: grid;
    grid-template-columns: 32.78% 67.22%;
    overflow: hidden;
    height: 100vh;
}

aside {
    background-image: url(../assets/Background.png) ;
    background-size: 100% 100%;
    
    span{
        background-image: url(../assets/ícons/Logo.svg);
        background-size:2.865rem 3rem;
        width: 2.865rem;
        height: 3rem;
    }
    
}

main {
    background-color: var(--shape-body);
    overflow: auto;
}

.main-width {
    width: 35rem;
    margin-left: 16.097rem;
}

.festivite {
    display: grid;
    padding: 2rem;
    gap: 1rem;

    img {
        width: 2rem;
        height: 3rem;
        object-fit: cover;
    }

    h1 {
        font: var(--logo);
        color: var(--pink);
    }

    p {
        margin-top: .25rem;
        font: var(--body-md);
        color: var(--text-heading);
        opacity: 80%;
    }
}

footer {
    background-color: var(--shape-body);
    overflow: auto;
}

.line {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    border: 1px solid var(--input-stroke);
}