
  .controls {
    display: inline-flex;
    gap: .2rem;    
    padding: .3rem .5rem;
    appearance: none;
    background-color: var(--input-base);
    
    outline: 1px solid var(--input-stroke);
    border-radius: .5rem;
    border: 1px solid transparent;
  }

  .control {
    display: flex;
    width: 13.7rem;
    height: 2.4rem;
    position: relative;

    &:has(:checked) {
        background-color: var(--shape-button);
        border-radius: .3rem;

        & svg path {
            fill:  var(--brand-light);        
        }    
    }
   
    &:focus-within {
        background-color: var(--shape-button);
        border-radius: .3rem;

        & svg path {
            fill:  var(--brand-light);        
        } 
    }
  }

  .control input {
        opacity: 0;
        position: absolute;
        width: 14rem;
        cursor: pointer;
        height: 100%;    
}

.focus-control {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: .75rem 4rem;
}
